@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../../Resources/recovery_email_bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(20px);
}

nav a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Lobster', sans-serif;
}

.user a {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: orangered;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 5px orangered, 0 0 15px orangered;
    transition: 0.5s;
}

.user a:hover {
    box-shadow: 0 0 5px orangered, 0 0 25px orangered, 0 0 50px orangered;
    transition: 0.5s;
}

hr {
    border-color: rgba(255, 255, 255, .2);
}

.heading {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px;
    font-size: large;
    text-shadow: 2px 5px rgba(0, 0, 0, .2);
}

.heading .span {
    color: orangered;
}

.wrapper {
    width: 550px;
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate(-45%, -45%);
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}

.wrapper .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder {
    color: white;
}

.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 70%;
    height: 45px;
    position: relative;
    left: 15%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.wrapper .btn:hover {
    background: #fff;
    color: black;
    transition: 0.5s;
}

footer{
    margin-top: auto;
    padding: 10px 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, rgb(24, 28, 29) 16%, rgb(6, 44, 45));
}

footer h3{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding: 5px 0;
}

.left-part p{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.right-part a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 23px;
    transition: 0.5s;
}

.right-part a:hover{
    font-size: 16px;
    text-decoration: underline;
    transition: 0.5s;
}

.right-part i{
    position: fixed;
    top: auto;
    font-size: large;
    background: -moz-linear-gradient(top, purple 20%, #c50000 80%);
    background: -webkit-linear-gradient(top, purple 20%, #c50000 80%);
    background: linear-gradient(to bottom left, purple 20%, #c50000 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}